{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": "airbnb",
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "arrow-parens": [ "error", "as-needed" ],
  }
}
