html
  head
    title='Test'
    if process.env.NODE_ENV === 'production'
      link(rel='stylesheet' type='text/css' href='/assets/app.css')
  body
    div(class='content')
      h1
        | Welcome to Test
    div(id='app')
    script(src='/assets/app.js' type='application/javascript')
